* {
    margin: 10px;
}

.heading {
    font-family: "Papyrus", "Copperplate", fantasy;
}

.nav {
    padding: 4px 20px;
    background-color: rgb(0, 99, 0);
    font-family: "Copperplate", monospace;
    font-size: 24px;
}

.nav.dish {
    list-style-type: none;
    font-family: "Lucida Handwriting", cursive;
}

.links {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.dish-image {
    height: 500px;
    width: auto;
}

.sub-heading {
    padding: 0 10px;
    font-family: cursive;
    background-color: whitesmoke;
    color: rgb(62, 62, 62);
}

p.text {
    padding: 0 10px;
}

.text {
    font-size: 20px;
    text-align: justify;
}